[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
ics = "*"
ipdb = "*"
requests-cache = "*"
pre-commit = "*"
jinja2 = "*"
python-dotenv = "*"

[requires]
python_version = "3.7"
